In [1]:
import pandas  as pd 
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\Yibabe\Desktop\ball_bearing\data\LogFile_2022-06-20-17-00-31.csv')

In [4]:

# Split the DataFrame into 10 equal parts
df_parts = np.array_split(df, 10)

# Save each part as a separate CSV file (optional)
for i, part in enumerate(df_parts, 1):
    part.to_csv(f'C:\\Users\\Yibabe\\Desktop\\ball_bearing\\data\\LogFile_part_{i}.csv', index=False)

# If you want to access each part separately, you can do:
df1, df2, df3, df4, df5, df6, df7, df8, df9, df10 = df_parts

c:\Users\Yibabe\Desktop\ball_bearing\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [16]:
df1 = pd.read_csv(r"C:\Users\Yibabe\Desktop\ball_bearing\data\LogFile_part_1.csv")

In [17]:
# Assign proper column names
columns = ['x_direction', 'y_direction', 'T_bearing', 'T_env']
df1.columns = columns

In [19]:
df1.head()

   x_direction  y_direction  T_bearing      T_env
0    -0.117601    -0.378231  41.614912  24.817354
1    -0.125842    -0.447849  41.614912  24.817354
2     0.174730    -0.201366  41.614912  24.817354
3     0.298664    -0.093859  41.614912  24.817354
4     0.235976    -0.049856  41.614912  24.817354

In [22]:
df1 = df1.drop(['T_bearing'],axis = 1)

In [24]:
df1 =df1.drop(['T_env'], axis =1)

In [ ]:
# Compute elapsed hours
df1['elapsed_hours'] = np.arange(len(df1)) / samples_per_hour *128

In [26]:
df1.head(10)

   x_direction  y_direction
0    -0.117601    -0.378231
1    -0.125842    -0.447849
2     0.174730    -0.201366
3     0.298664    -0.093859
4     0.235976    -0.049856
5     0.053384    -0.182173
6    -0.190344    -0.536784
7    -0.266782    -0.599507
8    -0.239653    -0.493973
9    -0.132124    -0.393118

In [44]:
# Example dataframe with 200,000 rows (Replace this with your actual data)
df1= pd.DataFrame({'x_direction': np.random.randn(200000), 'y_direction': np.random.randn(200000)})

In [45]:

# Total number of rows
total_rows = len(df1)

In [47]:
# Compute elapsed hours
df1['elapsed_hours'] = (np.arange(total_rows) / total_rows) * 128

In [48]:
# Compute RUL
df1['RUL'] = 128 - df1['elapsed_hours']

In [50]:
print(df1.head())  
print(df1.tail())

   x_direction  y_direction  elapsed_hours        RUL
0     0.537285     1.210158        0.00000  128.00000
1     0.156001     1.489494        0.00064  127.99936
2     0.433018     1.463829        0.00128  127.99872
3     0.781337    -1.870233        0.00192  127.99808
4     1.033820     0.655851        0.00256  127.99744
        x_direction  y_direction  elapsed_hours      RUL
199995     0.505453    -1.258196      127.99680  0.00320
199996     0.192571    -0.541925      127.99744  0.00256
199997    -0.507625    -0.285025      127.99808  0.00192
199998     0.790620    -0.263432      127.99872  0.00128
199999     1.714104    -0.178830      127.99936  0.00064

Normalization Method
We'll use MinMaxScaler from sklearn to scale features between 0 and 1

In [51]:
from sklearn.preprocessing import MinMaxScaler

# Select features to normalize
scaler = MinMaxScaler()
# Fit and transform x_direction, y_direction, and RUL
df1[['x_direction', 'y_direction', 'RUL']] = scaler.fit_transform(df1[['x_direction', 'y_direction', 'RUL']])

In [52]:
# Show sample normalized data
print(df1.head(5))
print(df1.tail(5))

   x_direction  y_direction  elapsed_hours       RUL
0     0.583602     0.634724        0.00000  1.000000
1     0.540207     0.666267        0.00064  0.999995
2     0.571735     0.663369        0.00128  0.999990
3     0.611379     0.286879        0.00192  0.999985
4     0.640115     0.572131        0.00256  0.999980
        x_direction  y_direction  elapsed_hours       RUL
199995     0.579979     0.355992      127.99680  0.000020
199996     0.544369     0.436875      127.99744  0.000015
199997     0.464677     0.465885      127.99808  0.000010
199998     0.612435     0.468323      127.99872  0.000005
199999     0.717540     0.477876      127.99936  0.000000